<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		
		<a class="panel-block" onclick="window.open('https://twitter.com/hashtag/worldwide?lang=en');" target="_blank" style="cursor: pointer;">
			Worldwide
		</a>
		
		<a class="panel-block" onclick="window.open('https://twitter.com/i/moments?lang=en');" target="_blank" style="cursor: pointer;">
			Today's Moments
		</a>
		
		<a class="panel-block" onclick="window.open('https://twitter.com/search?q=Front-End%20Programming&src=typd');" target="_blank" style="cursor: pointer;">
			Front-End Programming
		</a>
		
		<a class="panel-block" onclick="window.open('https://twitter.com/search?q=Specialty%20Coffee&src=typd');" target="_blank" style="cursor: pointer;">
			Specialty Coffee
		</a>
		
		<a class="panel-block" onclick="window.open('https://twitter.com/search?q=sneakers&src=tyah');" target="_blank" style="cursor: pointer;">
			Sneakers
		</a>

		<a class="panel-block" onclick="window.open('https://twitter.com/search?q=Computer%20science&src=typd');" target="_blank" style="cursor: pointer;">
			Computer Science
		</a>
	</nav>
</div>

