<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			Trends For You
		</a>
		<a class="panel-block">
			Today's Moments
		</a>
		<a class="panel-block">
			Front-End Programming
		</a>
		<a class="panel-block">
			Specialty Coffee
		</a>
		<a class="panel-block">
			Sneakers
		</a>
		<a class="panel-block">
			Computer Science
		</a>
	</nav>
</div>