<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://pbs.twimg.com/profile_images/922803999266533376/q-qQRVK6_400x400.jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Michael Turner</strong><br>
						<small>@MichaelTurner__</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://pbs.twimg.com/profile_images/896483320225083392/u_lq5rFH_400x400.jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Alex Purdie</strong><br>
						<small>@AlexPurdieDesign</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://pbs.twimg.com/profile_images/503900498072576000/TT-l8cGf_400x400.jpeg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>@ZacTillow</strong><br>
						<small>@ZacTillow</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>